div.footer_bg{
    background-color:  rgba(189, 189, 219,0.7);
    width:100%;
    height:20%;
}

button.index_odysee {
    width: 60px;
    height: 40px;
    border-radius: 10px;
}

button.index_x {
    width: 40px;
    height: 40px;
    border-radius: 10px; 
}

button.index_postrecord {
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

button.about {
    width: 70px;
    height: 50px;
    border-radius: 10px;
}

button.index_mail {
    width: 120px;
    height: 40px;
    border-radius: 10px;
}

div.footer_center {
    display: block;
    font-size: 24px;
    text-align: center;
}