div.bg_box_j8{
    background-color: #ffffe0;
    width: 380px;
    height:280px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}
div.bg_box_jt{
    background-color: #ffffe0;
    width: 380px;
    height:110px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}